
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #e0e0e0);
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh;
}

.container {
    max-width: 500px;
    width: 100%;
    height: 550px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #444;
    /* text-transform: uppercase; */
}

.choices {
    display: flex;
    justify-content: space-around;
    margin: 30px 30px;
    /* transition: transform 0.3s, box-shadow 0.3s; */
}

.choice {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 15px; 
}

.choice img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.choices .choice img.rock {
    width: 75px; /* Setze die Breite */
    height: auto;
}

.choice:hover img.rock {
    transform: none;
}

.choice:hover {
    transform: scale(1.4);
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
}

.results {
    margin-top: 30px;
    font-size: 1.4em;
    color: #555;
}

.results span {
    font-weight: bold;
    color: #000;
}

@media (max-width: 600px) {
    .choices {
        flex-direction: column;
        align-items: center; 
        gap: 20px; 
    }

    .choice img {
        width: 80px;
    }

    .container {
        height: auto;
        padding: 20px;
    }
}